QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
QWEN_API_KEY=请填入通义千问API_KEY
QWEN_MODEL=qwen-max

KEYWORD_5118_KEY=请填入5118关键词指数KEY
KEYWORD_5118_ENDPOINT=http://apis.5118.com/keyword/word/v2

XIAOQINGWA_KEY=请填入小青蛙KEY
XIAOQINGWA_BASE_URL=http://8.138.187.158:8082
XIAOQINGWA_ENDPOINT=请填入小青蛙新闻源发布接口地址

ALIYUN_OSS_ACCESS_KEY=请填入阿里云access_key
ALIYUN_OSS_ACCESS_SECRET=请填入阿里云access_secret
ALIYUN_OSS_BUCKET=请填入OSS_BUCKET
